/**************************************************
* 	myNewTabWE by sakuyaa.
*	
*	https://github.com/sakuyaa/
**************************************************/
body {
	background-color: #EEEEEE;
	font-family: "microsoft yahei", sans-serif;
	margin: 1.5em 3em;
}

button {
	background-color: #F9F9F9;
	border: .1em solid gray;
	border-radius: .5em;
	padding: .3em 1em;
}
button:hover {
	background-color: #CCCCCC;
}
button:active {   /*点击效果*/
	background-color: #BBBBBB;
}
textarea {
	tab-size: 4;
	background-color: #F9F9F9;
	overflow-y: hidden;
	padding: 0;   /*使其宽度100%能居中*/
	resize: none;
	width: 100%;
}
textarea:focus {   /*输入框聚焦效果*/
	box-shadow: 0 0 1em 0 #999999;
	transition: box-shadow .1s ease-in-out; 
}

.group {
	border: .1em solid gray;
	border-radius: .5em;
	margin: 1em 0;
}
.header {
	background-color: #DDDDDD;
	border-bottom: .1em solid gray;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	padding: .5em 1em;
}
.header button {
	float: right;   /*按钮靠右*/
	margin: -.2em .2em;
}
.content {
	padding: .5em 1em;
}
