/**************************************************
* 	myNewTabWE by sakuyaa.
*	
*	https://github.com/sakuyaa/
**************************************************/
/*天气*/
#weather {
	left: 0;
	position: fixed;
	top: .5em;
	z-index: 9;
}

body {
	background-attachment: fixed;
	background-color: #EDEDED;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "microsoft yahei", sans-serif;
	margin: 0;   /*避免容器大小100%造成的滚动条*/
}

#main {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}

/*日历整体*/
#date {
	color: #1E90FF;
	font: bold 3em "monotype corsiva", sans-serif;
	margin: .25em 0;
	text-align: center;
	text-shadow: .1em .1em .1em black;
}
/*农历*/
#lunar {
	color: #333;
	font-size: .75em;
	text-shadow: .1em .1em .1em silver;
}
/*节日*/
.festival {
	color: orangered;
}
/*法定假日*/
.holiday {
	color: red;
}

/*导航整体面板*/
#navs {
	background-color: #111;
	border: .1em solid gray;
	border-radius: 1em;
	margin-bottom: 1em;   /*导航底部保留空间*/
	max-width: 80%;   /*最大宽度*/
	opacity: .65;
}
/*导航链接*/
#navs a {
	outline: none;   /*不显示虚框*/
	text-decoration: none;
}
/*导航图标*/
#navs img {
	height: 1em;
	margin-bottom: -.15em;   /*与文字对齐*/
	margin-right: .2em;   /*与文字的间隔*/
	width: 1em;
}

/*导航标题*/
#navtitle {
	border-bottom: .15em solid #555;
	color: rgba(255, 255, 255, .65);
	font-size: 1.25em;
	font-weight: bold;
	padding: .4em .8em;
}
/*导航标题按钮*/
#navtitle a {
	color: white;
	float: right;
	opacity: .5;
	padding: 0 .2em;
}
#navtitle a:hover {
	opacity: .8;
}

/*导航表格*/
#navtable {
	padding: .25em 1em;
}
/*设置导航分类*/
#navtable th {
	color: rgba(255, 255, 255, .6);
	padding: .3em 0;
	text-align: left;
	width: 6em;
}
/*设置导航单元大小*/
#navtable td {
	float: left;   /*超出自动换行*/
	padding: .3em .2em;
	width: 7.2em;   /*文字长度6加上图标1和图标文字间的间隔0.2*/
}
/*设置导航链接*/
#navtable a {
	color: rgba(255, 255, 255, .8);
}
#navtable a:hover {
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 1px rgba(64, 64, 255, 0.9), 0 1px 1px rgba(64, 64, 255, 0.9), 0 -1px 1px rgba(64, 64, 255, 0.9), 1px 0 1px rgba(64, 64, 255, 0.9), -1px 0 1px rgba(64, 64, 255, 0.9), 0 0 3px rgba(64, 64, 255, 0.9);
	transition: color 0.423s ease, text-shadow 0.423s ease;
}
